<!DOCTYPE html>
<html th:replace="~{base:: layout(~{::title}, ~{::section})}">
  <head>
    <title>Confirm Your Email</title>
  </head>
  <body>
    <section>
      <p>Dear <span th:text="${user.getName()}">User</span>,</p>
      <p>Please confirm your email address by clicking the link below.</p>
      <p style="text-align: center; margin: 20px 0">
        <a
          th:href="@{${baseUrl} + '/auth/confirm/' + ${token.getToken()}}"
          style="
            display: inline-block;
            background-color: #217327;
            color: #e2f9e3;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
          "
          >Confirm Email Address</a
        >
      </p>
      <p>
        This link will expire in
        <strong th:text="${TimeFormatter.format(token.getExpires())}"
          >30 minutes</strong
        >.
      </p>
      <p>If you did not create this account, please disregard this email.</p>
      <p>Best regards,<br /><strong>The Oasis Nourish Team</strong></p>
    </section>
  </body>
</html>
