<!DOCTYPE html>
<html th:replace="~{base:: layout(~{::title}, ~{::section})}">
  <head>
    <title>Reset Your Password</title>
  </head>
  <body>
    <section>
      <p>Dear <span th:text="${user.getName()}">User</span>,</p>
      <p>
        We received a request to reset your password. Click the link below to
        set a new password:
      </p>
      <p style="text-align: center; margin: 20px 0">
        <a
          th:href="@{${baseUrl} + '/auth/reset-password/' + ${token.getToken()}}"
          style="
            display: inline-block;
            background-color: #217327;
            color: #e2f9e3;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
          "
          >Reset Password</a
        >
      </p>
      <p>
        This link will expire in
        <strong th:text="${TimeFormatter.format(token.getExpires())}"
          >30 minutes</strong
        >.
      </p>
      <p>
        If you did not request a password reset, please ignore this email or
        contact us if you have questions.
      </p>
      <p>Best regards,<br /><strong>The Oasis Nourish Team</strong></p>
    </section>
  </body>
</html>
