<!-- layout.html -->
<!DOCTYPE html>
<html
  lang="en"
  th:fragment="layout (title, content)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:replace="${title}">Email Notification</title>
  </head>
  <body>
    <div
      style="
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
      "
    >
      <table role="presentation" width="100%" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <div
              style="
                max-width: 600px;
                margin: 0 auto;
                background-color: #ffffff;
                padding: 20px;
                border-radius: 8px;
              "
            >
              <div style="text-align: center; margin-bottom: 24px">
                <img
                  th:src="@{${baseUrl} + '/images/logo.png'}"
                  alt="Oasis Nourish Logo"
                  width="250"
                />
              </div>

              <div th:replace="${content}"></div>

              <div>
                <p style="text-align: center; font-size: 14px; color: #888">
                  &copy; 2023 Oasis Nourish. All rights reserved.
                </p>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
